::ng-deep .p-inputtext {
  width: 244px;
  height: 36px;
  border: 0;
  background: #1e1e1e1a;
  border-radius: 5px;
}

::ng-deep .p-inputtext:enabled:hover {
  border: 0;
}

::ng-deep .p-inputtext:enabled:focus {
  box-shadow: none;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.field-label {
  font-family: "Afacad", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #103554;
}

::ng-deep p-password.ng-invalid.ng-dirty > .p-password > .p-inputtext {
  border: solid 1px;
  border-color: #e24c4c !important;
}

.error-message {
  color: #e24c4c;
  font-family: "Afacad", sans-serif;
}
