<div class="field" [formGroup]="formGroup">
  <label class="field-label" for="input">{{ label }}</label>
  <p-password
    id="input"
    [placeholder]="placeholder != undefined ? placeholder : ''"
    [formControlName]="controlName"
    [ngClass]="
      formGroup.get(controlName)?.invalid && formGroup.get(controlName)?.dirty
        ? 'ng-invalid ng-dirty'
        : ''
    "
    [feedback]="false"
  ></p-password>
  <small
    class="error-message"
    *ngIf="
      formGroup.get(controlName)?.invalid &&
      formGroup.get(controlName)?.dirty &&
      formGroup.get(controlName)?.errors
    "
    id="input"
  >
    {{ error }}
  </small>
</div>
