<am-page-header
  (filterActions)="table.filterGlobal($event.target.value, 'contains')"
  pageTitle="Gestão de usuários"
  (newRegister)="newRegister()"
  (deleteRegister)="deleteGrid()"
  [selectedRows]="selectedRows.length"
  [showFilter]="true"
></am-page-header>
<am-grid-data
  [columns]="columns"
  (onClickRow)="onRowSelect($event)"
  [data]="registers"
  (tableReady)="handleTableReady($event)"
  [filterFields]="filterFields"
  (selectedRowsChange)="onChangeSelection($event)"
  [(selectedRows)]="selectedRows"
></am-grid-data>
<am-form
  formTitle="Gestão de usuários"
  subTitle="Informações do usuário"
  [fieldOptions]="fieldOptions"
  (closeForm)="closeFormScreen()"
  [visibleForm]="visibleForm"
  [form]="formGroup"
  (saveForm)="saveForm()"
  (deleteForm)="deleteForm()"
  [isNew]="isNew"
  [loading]="loading"
></am-form>
