<div class="field" [formGroup]="formGroup">
  <label class="field-label" for="input">{{ label }}</label>
  <input
    id="input"
    pInputText
    type="text"
    [placeholder]="placeholder != undefined ? placeholder : ''"
    [formControlName]="controlName"
    [ngClass]="
      formGroup.get(controlName)?.invalid && formGroup.get(controlName)?.dirty
        ? 'ng-invalid ng-dirty'
        : ''
    "
  />
  <small
    class="error-message"
    *ngIf="
      formGroup.get(controlName)?.invalid && formGroup.get(controlName)?.dirty
    "
    id="input"
  >
    {{ error }}
  </small>
</div>
