<p-table
  #table
  dataKey="id"
  [value]="data"
  [tableStyle]="{ 'min-width': '50rem' }"
  styleClass="p-datatable-striped"
  [globalFilterFields]="['name', 'email']"
  [rowHover]="true"
  [(selection)]="selectedRows"
  (click)="onClickRow.emit($event)"
  [columns]="columns"
>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
      <th *ngFor="let col of columns">
        {{ col.header }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-row let-columns="columns">
    <tr [pSelectableRow]="row">
      <td>
        <p-tableCheckbox [pSelectableRow]="row" [value]="row" />
      </td>
      <td *ngFor="let col of columns">
        {{ row[col.field] }}
      </td>
    </tr>
  </ng-template>
</p-table>
