<p-dialog
  (onHide)="closeForm.emit()"
  [closable]="true"
  [modal]="true"
  [(visible)]="visibleForm"
  [header]="formTitle"
  [closeOnEscape]="true"
>
  <p-panel [header]="subTitle" [formGroup]="form">
    @for (field of fieldOptions; track field; let i = $index) {
    <am-input-text
      class="field"
      [label]="getFieldLabel(field.label, field.required)"
      [formGroup]="form"
      *ngIf="field.type == 'TEXT'"
      [controlName]="field.name"
    ></am-input-text>
    }
  </p-panel>

  <ng-template pTemplate="footer">
    <am-button
      severity="success"
      label="Salvar"
      (onClickButton)="saveForm.emit()"
    ></am-button>
    <am-button
      severity="danger"
      label="Excluir"
      [disabled]="isNew"
      (onClickButton)="deleteForm.emit()"
    ></am-button>
  </ng-template>
</p-dialog>
