<p-dialog
  (onHide)="closeForm.emit()"
  [closable]="true"
  [modal]="true"
  [(visible)]="visibleForm"
  [header]="formTitle"
  [closeOnEscape]="true"
>
  <p-panel [header]="subTitle" [formGroup]="form">
    @for (field of fieldOptions; track field; let i = $index) {
      <am-input-text
        class="field"
        [label]="getFieldLabel(field.label, field.required)"
        [formGroup]="form"
        *ngIf="field.type == 'TEXT'"
        [controlName]="field.name"
        [errors]="form.get(field.name)?.errors"
      ></am-input-text>
      <am-password
        class="field"
        *ngIf="field.type == 'PASSWORD'"
        [label]="getFieldLabel(field.label, field.required)"
        [formGroup]="form"
        [controlName]="field.name"
        [errors]="form.get(field.name)?.errors"
      ></am-password>
      <am-dropdown
        class="field"
        *ngIf="field.type == 'ENUM'"
        [label]="getFieldLabel(field.label, field.required)"
        [formGroup]="form"
        [controlName]="field.name"
        [errors]="form.get(field.name)?.errors"
        [options]="field.options"
      ></am-dropdown>
      <am-datepicker
        class="field"
        *ngIf="field.type == 'DATE'"
        [label]="getFieldLabel(field.label, field.required)"
        [formGroup]="form"
        [controlName]="field.name"
        [errors]="form.get(field.name)?.errors"
      ></am-datepicker>
      <am-switch
        class="field"
        *ngIf="field.type == 'BOOLEAN'"
        [label]="getFieldLabel(field.label, field.required)"
        [formGroup]="form"
        [controlName]="field.name"
      ></am-switch>
      <am-input-number
        class="field"
        *ngIf="field.type == 'NUMBER'"
        [label]="getFieldLabel(field.label, field.required)"
        [formGroup]="form"
        [controlName]="field.name"
        [errors]="form.get(field.name)?.errors"
      ></am-input-number>
    }
  </p-panel>

  <ng-template pTemplate="footer">
    <am-button
      severity="success"
      label="Salvar"
      (onClickButton)="save()"
      [isLoading]="loading"
    ></am-button>
    <am-button
      severity="danger"
      label="Excluir"
      [disabled]="isNew"
      (onClickButton)="deleteForm.emit()"
      [isLoading]="loading"
    ></am-button>
  </ng-template>
</p-dialog>
