.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #416888;
  z-index: 1000;
  display: flex;
  align-items: center;

  p {
    margin: 0;
  }

  .header-logo {
    width: 60px;
    height: 45px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 5px;
  }
}

.container {
  display: flex;
  margin-top: 70px; /* Compensar o header fixo */
  height: calc(100vh - 70px); /* Altura total menos o header */

  .menu {
    position: fixed;
    top: 70px; /* Abaixo do header */
    left: 0;
    width: 240px;
    height: calc(100vh - 70px); /* Preencher o restante da tela */
    overflow-y: auto;
    background-color: #7490a1b8;

    ul {
      list-style: none;
      padding-left: 0;
      padding-right: 10px;
    }

    a,
    button {
      font-family: "Afacad", sans-serif;
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;
      text-decoration: none;
      color: #103554;
      display: block;
      padding: 10px;
      cursor: pointer;
      border: none;
      background: none;
      text-align: left;
      width: 100%;
      height: 40px;
      transition: background-color 0.3s ease; /* Animação suave */
      background-color: #6b8fa563;
      border-radius: 8px;
      margin-left: 2px;
      margin-bottom: 10px;
    }

    a:hover,
    button:hover {
      background-color: #427ca0b8;
      color: white;
      border-radius: 8px;
    }

    .menu-lateral {
      .drop-menu {
        margin-left: 10px;
      }

      .submenu-content {
        margin-left: 10px;
        padding-left: 10px;
        transition: max-height 0.3s ease; /* Animação suave */

        li {
          text-decoration: underline;
        }

        a,
        button {
          text-align: center;
        }

        li:hover {
          color: white;
        }
      }
    }
  }

  .content {
    margin-left: 240px; /* Largura do menu lateral */
    flex-grow: 1;
    overflow-y: auto;
    padding: 0;
  }
}
