.field {
  display: flex;
  flex-direction: column;
  gap: 2px;

  .field-label {
    font-family: "Afacad", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #103554;
  }

  .error-message {
    color: #e24c4c;
    font-family: "Afacad", sans-serif;
  }

  ::ng-deep .p-datepicker-icon {
    position: relative;
    right: 30px;
  }

  ::ng-deep .p-calendar {
    display: flex;
    align-items: center;
  }

  ::ng-deep p-calendar.ng-dirty.ng-invalid > .p-calendar > .p-inputtext {
    border: solid 1px;
    border-color: #e24c4c !important;
  }

  ::ng-deep .p-datepicker:not(.p-datepicker-inline) {
    background: #e3dfdf;
  }

  ::ng-deep .p-datepicker:not(.p-datepicker-inline) .p-datepicker-header {
    background: #e3dfdf;
  }

  ::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month:enabled:hover {
    color: #989696;
  }

  ::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year:enabled:hover {
    color: #989696;
  }

  ::ng-deep .p-calendar:not(.p-calendar-disabled).p-focus > .p-inputtext {
    box-shadow: none;
  }

  ::ng-deep .p-datepicker table td > span.p-highlight {
    color: black;
    font-weight: 500;
    background: #fffdfd;
  }
}
