<div class="field" [formGroup]="formGroup">
  <label class="field-label" for="input">{{ label }}</label>
  <p-calendar id="input"
              [formControlName]="controlName"
              [ngClass]="formGroup.get(controlName)?.invalid && formGroup.get(controlName)?.dirty
        ? 'ng-invalid ng-dirty'
        : ''
    "
              [showIcon]="true"
              [iconDisplay]="'input'"
  />
  <small
    class="error-message"
    *ngIf="
      formGroup.get(controlName)?.invalid && formGroup.get(controlName)?.dirty
    "
    id="input"
  >
    {{ error }}
  </small>
</div>
