::ng-deep .p-button {
  background-color: #70b1cdb8;
  height: 36px;
  width: 70px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

::ng-deep .small button {
  width: 70px;
}

::ng-deep .medium button {
  width: 93px;
}

::ng-deep .large button {
  width: 171px;
}

::ng-deep .p-button-label {
  font-family: "Afacad", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #1e1e1e78;
}

::ng-deep .p-button-danger {
  background-color: #df7a77b8;
  border: 0;
}

::ng-deep .p-button-success {
  background-color: #42a07ab8;
  border: 0;
}

::ng-deep button.p-button-success:focus {
  box-shadow: 0 0 0 0.2rem #bbf7d0;
}

::ng-deep button.p-button-danger:focus {
  box-shadow: 0 0 0 0.2rem #fecaca;
}
